# SECTION 1
# Creates Redshift cluster with AWS and Python
## Loading libraries

In [1]:
import boto3
from botocore.exceptions import ClientError
import json
import psycopg2
import configparser
config = configparser.ConfigParser()

## Extracting configuration file

In [2]:
config.read('dwh.cfg')

['dwh.cfg']

In [3]:

KEY = config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')
DWH_IAM_ROLE_NAME = config.get('CLUSTER','DWH_IAM_ROLE_NAME')
DWH_CLUSTER_IDENTIFIER = config.get('CLUSTER','DWH_CLUSTER_IDENTIFIER')
REGION = config.get('CLUSTER','REGION')
DB_PORT = config.get('DB','DB_PORT')
S3_READ_ARN = config.get('IAM_ROLE','READ_S3_ARN')

## Creating ec2, s3, iam, and redshift clients using configuration file.

In [4]:
ec2 = boto3.resource('ec2',
                       region_name=REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name=REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',
                         region_name=REGION,
                         aws_access_key_id=KEY,
                         aws_secret_access_key=SECRET
                     
                  )

redshift = boto3.client('redshift',
                       region_name=REGION,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

## Creation of IAM role to allow redshift to access S3 bucket.

In [5]:
dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )

## Attaching read only policy

In [6]:
iam.attach_role_policy(
            RoleName=DWH_IAM_ROLE_NAME,
            PolicyArn=S3_READ_ARN
        )

{'ResponseMetadata': {'RequestId': '89df1b10-ec05-4f6a-a34e-04ca6867ef64',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '89df1b10-ec05-4f6a-a34e-04ca6867ef64',
   'content-type': 'text/xml',
   'content-length': '212',
   'date': 'Mon, 05 Apr 2021 05:57:27 GMT'},
  'RetryAttempts': 0}}

In [7]:
 role_arn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

## Creation of Redshift Cluster with predifine configuration.

In [8]:
DWH_CLUSTER_TYPE = config.get('CLUSTER','DWH_CLUSTER_TYPE')
DWH_NODE_TYPE = config.get('CLUSTER','DWH_NODE_TYPE')
DWH_NUM_NODES = int(config.get('CLUSTER','DWH_NUM_NODES'))
DB_NAME = config.get('DB','DB_NAME')
DB_USER = config.get('DB','DB_USER')
DB_PASSWORD = config.get('DB','DB_PASSWORD')
DB_PORT = int(config.get('DB','DB_PORT'))
# DB_HOST = config.get('DB','HOST')

In [9]:
 redshift.create_cluster(
            ClusterType=DWH_CLUSTER_TYPE,
            NodeType=DWH_NODE_TYPE,
            NumberOfNodes=DWH_NUM_NODES,
            DBName=DB_NAME,
            ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
            MasterUsername=DB_USER,
            MasterUserPassword=DB_PASSWORD,
            IamRoles=[role_arn],
        )

{'Cluster': {'ClusterIdentifier': 'dwh-sparkify-cluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'creating',
  'ClusterAvailabilityStatus': 'Modifying',
  'MasterUsername': 'dwuser',
  'DBName': 'sparkify-db',
  'AutomatedSnapshotRetentionPeriod': 1,
  'ManualSnapshotRetentionPeriod': -1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-b7c8d28d',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-505f7d28',
  'PreferredMaintenanceWindow': 'tue:13:30-tue:14:00',
  'PendingModifiedValues': {'MasterUserPassword': '****'},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::447666061322:role/redshift_role',
    'ApplyStatus': 'adding'}],
  'MaintenanceTrackName': 'current',
  'DeferredMaintenanceWindows': [],
  'NextMaintenanceWindowStartTime': datetime.datetime(2021, 4, 6, 13, 30, tzinfo=tzutc())},
 'ResponseMetadata': {'RequestId': 'd38444da-9d84-4262-b262-2307dc690a9a',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'd38444da-9d84-4262-b262-2307dc690a9a',
   'content-type': 'text/xml',
   'content-length': '2378',
   'vary': 'accept-encoding',
   'date': 'Mon, 05 Apr 2021 05:57:34 GMT'},
  'RetryAttempts': 0}}

# SECTION 2
## Cluster info
### Save HOST & ARN to the configuration file.

In [10]:
clusterInfo = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]

HOST = clusterInfo['Endpoint']['Address']
ARN = clusterInfo['IamRoles'][0]['IamRoleArn']
print(clusterInfo)
print('-'*50)
print(HOST)
print('-'*50)
print(ARN)

{'ClusterIdentifier': 'dwh-sparkify-cluster', 'NodeType': 'dc2.large', 'ClusterStatus': 'available', 'ClusterAvailabilityStatus': 'Available', 'MasterUsername': 'dwuser', 'DBName': 'sparkify-db', 'Endpoint': {'Address': 'dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com', 'Port': 5439}, 'ClusterCreateTime': datetime.datetime(2021, 4, 5, 5, 59, 35, 852000, tzinfo=tzutc()), 'AutomatedSnapshotRetentionPeriod': 1, 'ManualSnapshotRetentionPeriod': -1, 'ClusterSecurityGroups': [], 'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-b7c8d28d', 'Status': 'active'}], 'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0', 'ParameterApplyStatus': 'in-sync'}], 'ClusterSubnetGroupName': 'default', 'VpcId': 'vpc-505f7d28', 'AvailabilityZone': 'us-west-2a', 'PreferredMaintenanceWindow': 'tue:13:30-tue:14:00', 'PendingModifiedValues': {}, 'ClusterVersion': '1.0', 'AllowVersionUpgrade': True, 'NumberOfNodes': 4, 'PubliclyAccessible': True, 'Encrypted': False, 'ClusterPublicKey': 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCsdsHJ1xgPphN9JLOK7tIQmDgDkUBboZFhzPzYXD8IIeLm7FAdykYjMJKvzZ/ZvKtQAResEPkB1rVUrvzpW+zpNdYtJzZz8z6jOxGPIpntNG71P4M0+xXV1F+YTAe9P5AKQKAYLCczqncozgo1twCkN5bFIVvxwiK6a+nuMcc2hT8IDbhNCboM0/txF16x/hwWfFQths9iZaQuYB8Jnr6cMGcslEzO9Lc0wlwJhfJ46ALENModWDmgRII1qR9iwhLGhJONWauBUTuA6dIMD19RMfrP2K86CiHeF6JBggNjPpGNprrw/8cNKZISdjOm9Cxn+GeUcuO+05pBeVw5V6lt Amazon-Redshift\n', 'ClusterNodes': [{'NodeRole': 'LEADER', 'PrivateIPAddress': '172.31.29.59', 'PublicIPAddress': '44.237.130.237'}, {'NodeRole': 'COMPUTE-0', 'PrivateIPAddress': '172.31.17.247', 'PublicIPAddress': '52.25.133.146'}, {'NodeRole': 'COMPUTE-1', 'PrivateIPAddress': '172.31.25.103', 'PublicIPAddress': '35.166.157.230'}, {'NodeRole': 'COMPUTE-2', 'PrivateIPAddress': '172.31.23.12', 'PublicIPAddress': '34.210.95.196'}, {'NodeRole': 'COMPUTE-3', 'PrivateIPAddress': '172.31.25.11', 'PublicIPAddress': '52.38.179.5'}], 'ClusterRevisionNumber': '25109', 'Tags': [], 'EnhancedVpcRouting': False, 'IamRoles': [{'IamRoleArn': 'arn:aws:iam::447666061322:role/redshift_role', 'ApplyStatus': 'in-sync'}], 'MaintenanceTrackName': 'current', 'ElasticResizeNumberOfNodeOptions': '[2,8]', 'DeferredMaintenanceWindows': [], 'NextMaintenanceWindowStartTime': datetime.datetime(2021, 4, 6, 13, 30, tzinfo=tzutc()), 'AvailabilityZoneRelocationStatus': 'disabled', 'ClusterNamespaceArn': 'arn:aws:redshift:us-west-2:447666061322:namespace:bf638aa5-2713-45cd-a628-64acb9b202df'}
--------------------------------------------------
dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com
--------------------------------------------------
arn:aws:iam::447666061322:role/redshift_role

## Open TCP port to acess the cluster.

In [16]:
vpc = ec2.Vpc(id=clusterInfo['VpcId'])
defaultSg = list(vpc.security_groups.all())[0]
print(defaultSg)
defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DB_PORT),
        ToPort=int(DB_PORT)
    )

ec2.SecurityGroup(id='sg-b7c8d28d')

{'ResponseMetadata': {'RequestId': 'a080051f-cf36-4727-a838-d5c625bc4522',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'a080051f-cf36-4727-a838-d5c625bc4522',
   'cache-control': 'no-cache, no-store',
   'strict-transport-security': 'max-age=31536000; includeSubDomains',
   'content-type': 'text/xml;charset=UTF-8',
   'content-length': '259',
   'date': 'Mon, 05 Apr 2021 04:00:42 GMT',
   'server': 'AmazonEC2'},
  'RetryAttempts': 0}}

# SECTION 3
# Create Tables
### Will run script to create all tables needed

#### Add ARN & HOST information and reload configuration file

In [ ]:
config.read('dwh.cfg')

In [11]:
%run ./create_tables.py

Creating tables Process Started
Dropping Tables
Creating Tables
Tables Created

# Run ETL
### Will run script to execute the ETL pipeline

In [ ]:
%run ./etl.py

# SECTION 4
# Queries
## Will verify data was loaded successfully.

In [20]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [21]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://dwuser:Test654!@dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com:5439/sparkify-db

## songplay TABLE

In [22]:
%%sql
SELECT COUNT(*) AS ROWS
FROM songplay

 * postgresql://dwuser:***@dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com:5439/sparkify-db
1 rows affected.

[(319,)]

In [23]:
%%sql
SELECT *
FROM songplay
LIMIT 5

 * postgresql://dwuser:***@dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com:5439/sparkify-db
5 rows affected.

[(17, datetime.datetime(2018, 11, 5, 17, 49, 42, 796000), '73', 'paid', 'SOHDWWH12A6D4F7F6A', 'ARC0IOF1187FB3F6E6', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (81, datetime.datetime(2018, 11, 13, 16, 45, 3, 796000), '97', 'paid', 'SOHZDYL12A8C141C73', 'AR32RXI1187B9BA168', 537, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (145, datetime.datetime(2018, 11, 17, 17, 42, 29, 796000), '83', 'free', 'SOHTKMO12AB01843B0', 'AR5EYTL1187B98EDA0', 649, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (209, datetime.datetime(2018, 11, 3, 17, 59, 1, 796000), '15', 'paid', 'SOHTKMO12AB01843B0', 'AR5EYTL1187B98EDA0', 199, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (24, datetime.datetime(2018, 11, 28, 8, 18, 57, 796000), '58', 'paid', 'SOJWCWM12A8C13B664', 'ARM6T8I1187FB36CC8', 887, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

## users TABLE

In [24]:
%%sql
SELECT COUNT(*) AS ROWS
FROM users

 * postgresql://dwuser:***@dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com:5439/sparkify-db
1 rows affected.

[(104,)]

In [25]:
%%sql
SELECT *
FROM users
LIMIT 5

 * postgresql://dwuser:***@dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com:5439/sparkify-db
5 rows affected.

[('62', 'Connar', 'Moreno', 'M', 'free'),
 ('9', 'Wyatt', 'Scott', 'M', 'free'),
 ('44', 'Aleena', 'Kirby', 'F', 'paid'),
 ('61', 'Samuel', 'Gonzalez', 'M', 'free'),
 ('32', 'Lily', 'Burns', 'F', 'free')]

# songs TABLE

In [26]:
%%sql
SELECT COUNT(*) AS ROWS
FROM songs

 * postgresql://dwuser:***@dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com:5439/sparkify-db
1 rows affected.

[(14896,)]

In [27]:
%%sql
SELECT *
FROM songs
LIMIT 5

 * postgresql://dwuser:***@dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com:5439/sparkify-db
5 rows affected.

[('SOMVREG12A8C140932', 'Bad Day', 'AR5Q8K21187B9B4E37', 2005, 233.63873),
 ('SONILVL12A8AE47AFB', 'Dejar Entrar', 'ARBBHVG1187B9B65D5', 2005, 329.22077),
 ('SOFUWWP12A8C13694F', 'After Dark', 'ARZNLAU1187B9A67E9', 0, 173.16526),
 ('SOEZNJG12A58A7D64B', 'Saviour', 'ARP4QZ41187B99770C', 2008, 193.93261),
 ('SOBFKGJ12A6D4F6992', 'Incarné', 'ARQ0WN61187B9B3CC3', 1999, 208.19546)]

# artists TABLE

In [28]:
%%sql
SELECT COUNT(*) AS ROWS
FROM artists

 * postgresql://dwuser:***@dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com:5439/sparkify-db
1 rows affected.

[(10025,)]

In [29]:
%%sql
SELECT *
FROM artists
LIMIT 5

 * postgresql://dwuser:***@dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com:5439/sparkify-db
5 rows affected.

[('ARZ3RDG1187FB59693', 'Willi Williams', None, None, None),
 ('ARV3JXB1187B9B1660', 'Michael Giacchino', None, None, None),
 ('AR4EQ231187B99368F', 'The Fray', 'Denver, CO', 39.74001, -104.99226),
 ('AROPKE81187FB3D537', 'Laika & The Cosmonauts', None, None, None),
 ('ARJ8PZJ1187B99314F', 'Aiden', 'Seattle, Washington', None, None)]

# time TABLE

In [30]:
%%sql
SELECT COUNT(*) AS ROWS
FROM time

 * postgresql://dwuser:***@dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com:5439/sparkify-db
1 rows affected.

[(319,)]

In [31]:
%%sql
SELECT *
FROM time
LIMIT 5

 * postgresql://dwuser:***@dwh-sparkify-cluster.ckxrhzvtig8a.us-west-2.redshift.amazonaws.com:5439/sparkify-db
5 rows affected.

[(datetime.datetime(2018, 11, 26, 7, 38, 37, 796000), 7, 26, 48, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 27, 18, 9, 21, 796000), 18, 27, 48, 11, 2018, '2'),
 (datetime.datetime(2018, 11, 26, 13, 47, 35, 796000), 13, 26, 48, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 29, 8, 23, 9, 796000), 8, 29, 48, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 30, 12, 39, 36, 796000), 12, 30, 48, 11, 2018, '5')]

# SECTION 5
# Delete redshift cluster & iam

In [32]:
print("Deleting Redshift Cluster")

redshift.delete_cluster(
            ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
            SkipFinalClusterSnapshot=True,
        )

print("Deleting IAM")

role_arn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn=S3_READ_ARN)
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)

Deleting Redshift Cluster
Deleting IAM

{'ResponseMetadata': {'RequestId': 'd06441be-d808-49d9-8c72-bdb9794754c9',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'd06441be-d808-49d9-8c72-bdb9794754c9',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Mon, 05 Apr 2021 07:22:34 GMT'},
  'RetryAttempts': 0}}